@{
    Layout = "_User";
}

@model AdminLoginRequest
 <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div
      class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-3">
            <div class="card mb-0">
              <div class="card-body">
                <a href="#" class="text-nowrap logo-img text-center d-block py-3 w-100">
                 <h1>Login</h1>
                </a>
                <p class="text-center">Only Admin can Login</p>
                <form method="post" action="">
                  <div class="mb-3">
                    <label asp-for="Email"></label>
                    <input type="email" asp-for="Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                     <span asp-validation-for="Email"></span>  
                </div>
                  <div class="mb-4">
                     <label asp-for="Password"></label>
                    <input type="password" asp-for="Password" name="Password" class="form-control" id="exampleInputPassword1">
                <span asp-validation-for="Password"></span>   
                </div>
                <input type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2" value="Login" />
                 
                 
                  
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
