@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    Layout = "_Layout";
}

@model Contact
<div class="card">
    <div class="card-body">
        <h5 class="card-title fw-semibold mb-4">edit Contact</h5>
        <div class="card">
            <div class="card-body">
                <form method="post"> 
                    <div class="mb-3">
                        <label asp-for="Id" class="form-label"></label>
                        <label class="form-control">@Model.Id</label>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" asp-for="FullName"></label>
                        <input type="text" class="form-control" name="FullName" value="@Model.FullName">
                    </div>

                    <div class="mb-3">
                        <label class="form-label" asp-for="Email"></label>
                        <input type="email" class="form-control" name="Email" value="@Model.Email" aria-describedby="emailHelp">
                    </div>

                    <div class="mb-3">
                        <label class="form-label" asp-for="Feedback"></label>
                        <input type="text" class="form-control" name="Feedback" value="@Model.Feedback">
                    </div>
                 
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
       
    </div>
</div>